<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yitong.domain.repository.UserRepository">
    <resultMap id="userMap" type="User">
        <id property="userId" column="USERID" jdbcType="INTEGER"></id>
        <result property="userName" column="USERNAME" jdbcType="VARCHAR"></result>
        <result property="age" column="AGE" jdbcType="INTEGER"></result>
        <result property="birth" column="BIRTH" jdbcType="DATE"></result>
        <result property="dcode" column="DCODE" jdbcType="INTEGER"></result>
    </resultMap>

    <sql id="where_sql">
      <if test="userId != null">
          and USERID = #{userId, jdbcType=INTEGER}
      </if>
      <if test="userName != null and userName != '' ">
          and USERNAME = #{userName, jdbcType=VARCHAR}
      </if>
      <if test="age != null">
          and AGE = #{age, jdbcType=INTEGER}
      </if>
      <if test="birth != null">
          and BIRTH = #{birth, jdbcType=DATE}
      </if>
      <if test="dcode != null">
          and DCODE = #{dcode, jdbcType=INTEGER}
      </if>
    </sql>

    <insert id="create" parameterType="User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                USERID,
            </if>
            <if test="userName != null">
                USERNAME,
            </if>
            <if test="age != null">
                AGE,
            </if>
            <if test="birth != null">
               BIRTH,
            </if>
            <if test="dcode != null">
               DCODE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId, jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName, jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age, jdbcType=INTEGER},
            </if>
            <if test="birth != null">
                #{birth, jdbcType=DATE},
            </if>
            <if test="dcode != null">
                #{dcode, jdbcType=INTEGER}
            </if>
        </trim>
    </insert>

    <select id="read" resultMap="userMap" parameterType="User">
        select USERID, USERNAME, AGE, BIRTH, DCODE from t_user
        <where>
            <include refid="where_sql"/>
        </where>
    </select>

    <update id="update" parameterType="user">
        update t_user
        <trim prefix="set " suffix="" suffixOverrides=",">
            <if test="userName != null">
                USERNAME = #{userName, jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                AGE = #{age, jdbcType=INTEGER},
            </if>
            <if test="birth != null">
                BIRTH = #{birth, jdbcType=DATE},
            </if>
            <if test="dcode != null">
                DCODE = #{dcode, jdbcType=INTEGER}
            </if>
        </trim>
        where USERID = #{userId, jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="User">
        delete from t_user where USERID = #{userId, jdbcType=INTEGER}
    </delete>
</mapper>